﻿@model IEnumerable<EmployeeEvaluator.Models.EvaluationViewModel>

@{
    ViewBag.Title = "Completed";
}

<h2>Completed</h2>
<p style="color: red; padding-left : 162px">@TempData["Error"]</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Evaluation.CohortID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvalType.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluation.Stage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluation.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluation.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluation.CohortID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EvalType.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluation.Stage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluation.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluation.EndDate)
        </td>
        <td>
            @Html.ActionLink("View Answers", "OpenCompleted", new { id=item.Evaluation.EvaluationID })
        </td>
    </tr>
}

</table>
