﻿@model EmployeeEvaluator.Models.EvaluationViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Evaluation</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EvalType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvalType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evaluation.EvalStage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evaluation.EvalStage)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Evaluation List", "Index")
        </div>
    }
</div>
