﻿@model EmployeeEvaluator.Models.EvaluationViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Evaluation Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EvalType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvalType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evaluation.Stage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evaluation.Stage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Evaluation List", "Index")
</p>
