﻿@using System.Security.Cryptography
@using System.Text
@using System.Text.RegularExpressions
@model IEnumerable<EmployeeEvaluator.Models.EvaluationViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Evaluations</h2>
<p style="color: red; padding-left : 162px">@TempData["Error"]</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EvalType.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvalStage.StageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluation.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluation.EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EvalType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvalStage.StageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evaluation.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evaluation.EndDate)
            </td>
            <td>
                @if (DateTime.Compare(item.Evaluation.StartDate, DateTime.Now) < 0 && DateTime.Compare(item.Evaluation.EndDate, DateTime.Now) > 0)
                {
                    string salt = "92429dsdaa41e930d86c6de4ebda9602d55c39986";
                    var bytes = Encoding.UTF8.GetBytes(item.Evaluation.EvaluationID + salt);
                    var hashedID = Convert.ToBase64String((new SHA256Managed()).ComputeHash(bytes));

                    Regex rgx = new Regex("[^a-zA-Z0-9 -]");
                    hashedID = rgx.Replace(hashedID, "");
                    @Html.ActionLink("Start Evaluation", "Start", new { id = hashedID })
                }  
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to Employee Dashboard", "Index", "Employee")
</div>
