﻿@model IEnumerable<EmployeeEvaluator.Models.Question>

@{
    ViewBag.Title = "OpenCompleted";
}

<h2>Evaluation Answers</h2>

<table class="table">

@foreach (var item in Model)
{
    foreach (var answer in item.Answers)
    {
        if (answer.Selected)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText) : @Html.DisplayFor(modelItem => answer.AnswerText)
                </td>
            </tr>
        }

    }

}

</table>
