﻿@using EmployeeEvaluator.Models
@model EmployeeEvaluator.Models.StartEvaluationViewModel

@{
    ViewBag.Title = "Start Evaluation";
}


@using (Html.BeginForm("Start", "Evaluation", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Evaluation.EvaluationID)
    @Html.HiddenFor(model => model.Evaluation.CohortID)
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Evaluation</h4>
        <hr />
        <p style="color: red; padding-left : 162px">@TempData["Error"]</p>
        @if (Model.Categories != null)
        {
            foreach (var category in Model.Categories)
            {
                if (category.EvalType.TypeName.Equals("Type 1"))
                {
                    <div class="form-group">
                        @Html.DisplayFor(model => category.CategoryName):<br>
                        @Html.DisplayFor(model => category.CategoryDescription)
                        <br><br>
                        @foreach (var question in category.Questions)
                        {
                            @Html.DisplayFor(model => question.QuestionText)
                            <br>
                            <br>
                            for (int i = 1; i <= 5; i++)
                            {
                                if (question.SelectedAnswerValue != null && i == question.SelectedAnswerValue.Value)
                                {
                                    <span class="question">@Html.DisplayFor(model => i)</span>
                                    @Html.RadioButton(category.CategoryName + question.QuestionText, i, true)
                                }
                                else
                                {
                                    <span class="question">@Html.DisplayFor(model => i)</span>
                                    @Html.RadioButton(category.CategoryName + question.QuestionText, i)
                                }
                            }
                            <br>
                            <br>
                            <br>
                        }
                    </div>
                }
                else
                {
                    <div class="form-group">
                        @Html.DisplayFor(model => category.CategoryName):<br>
                        @Html.DisplayFor(model => category.CategoryDescription)
                        <br><br>
                        @foreach (var question in category.Questions)
                        {
                            @Html.DisplayFor(model => question.QuestionText)
                            <br>
                            <br>
                            for (int i = 1; i <= 10; i++)
                            {
                                if (question.SelectedAnswerValue != null && i == question.SelectedAnswerValue.Value)
                                {
                                    <span class="question">@Html.DisplayFor(model => i, true)</span>
                                    @Html.RadioButton(category.CategoryName + question.QuestionText, question.SelectedAnswerValue, true)
                                }
                                else
                                {
                                    <span class="question">@Html.DisplayFor(model => i)</span>
                                    @Html.RadioButton(category.CategoryName + question.QuestionText, i)
                                }
                            }
                            <br>
                            <br>
                            <br>
                        }
                    </div>
                }
            }
        }
        @if (Model.Categories != null)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit Evaluation" class="btn btn-default" />
                </div>
            </div>
        }
        

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}