﻿@model EmployeeEvaluator.Models.EditEmployeeViewModel

<h2>Assign Employee to Cohort</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Employee.EmployeeID)

        <div class="form-group">
            @Html.Label("Cohort", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Employee.CohortID, Model.Cohorts, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Employee.CohortID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<p style="padding-left: 162px">@TempData["Confirmation"]</p><br/>

<div>
    @Html.ActionLink("Back to Employee List", "List", "Employee")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
