﻿@model EmployeeEvaluator.Models.RaterRoleViewModel

@{
    ViewBag.Title = "Disable";
}

<h2>Disable Rater</h2>

<h3>Are you sure you want to disable this rater?  This action is permanent.  You will have to re-add this rater again to undo these changes.</h3>
<div>
    @using (Html.BeginForm())
    {
    <hr/>
    @Html.HiddenFor(model => model.Rater.RaterID)
    <p style="color: red; padding-left : 162px">@TempData["Confirmation"]</p><br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rater.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rater.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rater.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rater.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rater.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rater.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaterRole.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaterRole.RoleName)
        </dd>

    </dl>


    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Disable" class="btn btn-default"/> |
        @Html.ActionLink("Back to List", "ViewRaters", "Employee")
    </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}