﻿@model EmployeeEvaluator.Models.Employee
@{
    ViewBag.Title = "Employee";
}
<h1 class="welcome">Employee Dashboard</h1>
<hr />
<div>
    <p class="lead">@Html.ActionLink("View Active Evaluations", "Index", "Evaluation")</p>
    <p class="lead">@Html.ActionLink("View Current Raters", "ViewRaters", "Employee")</p>
    <p class="lead">@Html.ActionLink("Add a Rater", "Create", "Rater")</p>
</div>