﻿@model IEnumerable<EmployeeEvaluator.Models.RaterRoleViewModel>

@{
    ViewBag.Title = "Raters";
}

<h2>Raters</h2>
<p style="padding-left : 162px">@TempData["Success"]</p><br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rater.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rater.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rater.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaterRole.RoleName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rater.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rater.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rater.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaterRole.RoleName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Rater", new { id = item.Rater.RaterID }, null) |
                @Html.ActionLink("Disable", "DisableRater", "Employee", new { id = item.Rater.RaterID }, null) |
                @Html.ActionLink("Resend", "Resend", "Employee", new { EmployeeID = (int)Session["LoggedInEmployeeID"], RaterID = item.Rater.RaterID }, null)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Employee Dashboard", "Index", "Employee")
</div>