﻿@model EmployeeEvaluator.Models.RaterRoleViewModel

@{
    ViewBag.Title = "Delete Rater";
}

<h2>Delete Rater</h2>
<hr />

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rater.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rater.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rater.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rater.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rater.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rater.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RaterRole.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaterRole.RoleName)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Rater List", "Index")
        </div>
    }
</div>
