﻿@model EmployeeEvaluator.Models.RaterRoleViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Rater Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rater.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rater.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rater.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rater.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rater.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rater.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RaterRole.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaterRole.RoleName)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Back to Rater List", "Index")
</p>
