﻿@model EmployeeEvaluator.Models.RaterViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Rater</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Rater.RaterID)

        <div class="form-group">
            @Html.LabelFor(model => model.Rater.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rater.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rater.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rater.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rater.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rater.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Rater.Email, htmlAttributes: new { @class = "control-label col-md-2", type="email" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rater.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rater.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.RaterRole.RoleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Rater.RaterRoleID, Model.RaterRoles, htmlAttributes: new { @class = "form-control" } )
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

    <p style="padding-left : 162px">@TempData["Confirmation"]</p><br />
}

<div>
    @Html.ActionLink("Back to Rater List", "ViewRaters", "Employee", null, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
