﻿@model IEnumerable<EmployeeEvaluator.Models.RaterRoleViewModel>

@{
    ViewBag.Title = "Raters";
}

<h2>Raters</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rater.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rater.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rater.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaterRole.RoleName)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rater.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rater.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rater.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaterRole.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Rater.RaterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Rater.RaterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Rater.RaterID })
        </td>
    </tr>
}

</table>
