﻿@model EmployeeEvaluator.Models.MaxRater

@{
    ViewBag.Title = "ChangeMaximumSupervisees";
}

<h2>Set Maximum Supervisees</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaxRaterID)
        @Html.HiddenFor(model => model.RaterRoleID)

        <div class="form-group">
            @Html.LabelFor(model => model.Max, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Max, new { htmlAttributes = new { @class = "form-control", min = "1" } })
                @Html.ValidationMessageFor(model => model.Max, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    <br/>
    <p style="padding-left : 162px">@TempData["Confirmation"]</p><br />
}

<div>
    @Html.ActionLink("Back to List", "ChangeMaximums")
</div>
