﻿<h2>Change Maximum Raters Required</h2>
<br/>

<p class="lead">@Html.ActionLink("Supervisors", "ChangeMaximumSupervisors", "MaxRater")</p>
<p class="lead">@Html.ActionLink("Coworkers", "ChangeMaximumCoworkers", "MaxRater")</p>
<p class="lead">@Html.ActionLink("Supervisees", "ChangeMaximumSupervisees", "MaxRater")</p>

<br />
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Admin")
</div>
