﻿@model EmployeeEvaluator.Models.AddCohortViewModel

@{
    ViewBag.Title = "Create Cohort";
}


<h2>Create Cohort</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Cohort.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cohort.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cohort.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <p style="padding-left : 162px">@TempData["Confirmation"]</p><br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Admin")
</div>
