﻿@model EmployeeEvaluator.Models.Cohort

@using (Html.BeginForm())
{
    <div>
        <h4>Create Evaluation For Cohort</h4>
        <hr />
        @Html.HiddenFor(model => model.CohortID)
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <div class="form-group">
                <label class="control-label col-md-2">Start Date:</label>
                <div class="col-md-10">
                    <input type="date" name="startDate">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">End Date:</label>
                <div class="col-md-10">
                    <input type="date" name="endDate">
                </div>
            </div>

        </dl>

        <p style="padding-left : 162px">@TempData["Confirmation"]</p><br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="createEvaluation" type="submit" value="Create Evaluation Period" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Back to Cohort List", "Index", "Cohort")
</p>