﻿@model EmployeeEvaluator.Models.Cohort

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Cohort</h2>
<hr />

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <p style="padding-left : 162px">@TempData["Confirmation"]</p><br />

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Cohort List", "Index", "Cohort")
        </div>
    }
</div>
