﻿@model EmployeeEvaluator.Models.Cohort

@{
    ViewBag.Title = "Details";
}

<h2>Cohort Details</h2>
<hr />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Cohort List", "Index", "Cohort")
</p>
