﻿@model EmployeeEvaluator.Models.AddCohortViewModel

@{
    ViewBag.Title = "Edit";
}

    <h2>Edit Cohort</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            @Html.HiddenFor(model => model.Cohort.CohortID)

            <div class="form-group">
                @Html.LabelFor(model => model.Cohort.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cohort.Name, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Cohort.Name, "", new {@class = "text-danger"})
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Cohort.Stable, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cohort.Stable, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cohort.Stable, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default"/>
                </div>
            </div>
        </div>


    }
<p style="padding-left : 162px">@TempData["Confirmation"]</p><br />

    <div>
        @Html.ActionLink("Back to Cohort List", "Index", "Cohort")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
