﻿@model EmployeeEvaluator.Models.CohortIndexData

@{
    ViewBag.Title = "Index";
}

<h2>Cohorts</h2>
<hr />
@Html.ActionLink("Create Cohort", "Create", "Cohort")
<p style="padding-left: 162px;">@TempData["Confirmation"]</p><br />

<table class="table">
    <tr>
        <th></th>
        <th>
            Cohort Name
        </th>
        <th>
            Cohort Stable?
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Cohorts) {
        string selectedRow = "";
        if (item.CohortID == ViewBag.CohortID)
        {
            selectedRow = "success";
        }
        <tr>
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.CohortID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @(item.Stable?"Yes":"No")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CohortID })
            </td>
            <td>
                @Html.ActionLink("Finalize Cohort", "SendBulkEmail", new {id = item.CohortID})
            </td>
            <td>
                @Html.ActionLink("Start New Evaluation Phase", "Create", "Evaluation", new { id = item.CohortID }, null)
            </td>
        </tr>
    }

</table>
<br /><br/>
@if (Model.Employees != null)
{
    <h3>Employees in Cohort</h3>
    <hr />
    <table class="table">
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Cohort</th>
        </tr>

        @foreach (var item in Model.Employees)
        {
            string selectedRow = "";
            if (item.CohortID == ViewBag.CourseID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                   @item.Email
                </td>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.MailingAddress
                </td>
                <td>
                    @item.Phone
                </td>
                <td>
                    @item.Cohort.Name
                </td>
            </tr>
        }

    </table>
}
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Admin")
</div>
