﻿@{
    ViewBag.Title = "LoadEmployee";
}

<h2>CSV Bulk Upload</h2>
<hr /><br/>
@using (Html.BeginForm("LoadEmployees", "Cohort", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (ViewData["Feedback"] != null)
    {
        @(ViewData["Feedback"])
    }
    <input type="file" name="fileUpload" /><br />
    <input type="submit" name="Submit" id="Submit" value="Upload" /><br /><br/><br/>

    @Html.Raw(TempData["Table"]);
    <br/>

}

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Admin")
</div>

   
