﻿@model EmployeeEvaluator.Models.Cohort

@using (Html.BeginForm())
{
    <div>
        <h4>Send Account Creation Emails To This Cohort?</h4>
        <hr/>
        @Html.HiddenFor(model => model.CohortID)
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>
        
        <p style="padding-left : 162px">@TempData["Confirmation"]</p><br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="submitEmails" type="submit" value="Send Confirmation Emails" class="btn btn-default"/>
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Back to Cohort List", "Index", "Cohort")
</p>
