﻿@model IEnumerable<EmployeeEvaluator.Models.Cohort>

@{
    ViewBag.Title = "Index";
}

<h2>Cohorts</h2>
<hr />

<p style="padding-left: 162px; color:red">@TempData["Confirmation"]</p><br />

@if (TempData["Confirmation"].Equals("")) {
    <table class="table">
    <tr>
        <th>Cohort Name</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Move cohort to next phase", "MoveToNextPhase", new { id = item.CohortID })
            </td>
        </tr>
    }

    </table>
}

