﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if ((bool)Session["AdminLoggedIn"])
        {
            <li>@Html.ActionLink("Log Off Admin", "LogOff", "Admin")</li>
        }
        @if ((bool)Session["EmployeeLoggedIn"]) {
            <li>@Html.ActionLink("Log Off Employee", "LogOff", "Employee")</li>
        }
        
    </ul>
}
