﻿@model EmployeeEvaluator.Models.PendingViewModel

@{
    ViewBag.Title = "Current Evaluations";
}

<h2>Current Evaluations</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cohort.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluation.EvalType.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluation.EvalStage.StageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluation.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluation.EndDate)
        </th>
        <th></th>
    </tr>
    @foreach (var cohort in Model.Cohorts)
    {
        foreach (var eval in Model.Evaluations)
        {
            if (eval.CohortID == cohort.CohortID)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => cohort.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eval.EvalType.TypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eval.EvalStage.StageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eval.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eval.EndDate)
                    </td>
                </tr>
            }
        }
    }

</table>
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Admin")
</div>
