﻿@model EmployeeEvaluator.Models.EmployeeIndexData

@{
    ViewBag.Title = "Generate PDF";
}

<h2>Generate PDF</h2>
<hr />

<p style="padding-left: 162px; color:red">@TempData["Confirmation"]</p><br />

<table class="table">
    <tr>
        <th></th>
        <th>
            Cohort Name
        </th>
        <th>
            Stable?
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Cohorts)
    {
        string selectedRow = "";
        if (item.CohortID == ViewBag.CohortID)
        {
            selectedRow = "success";
        }
        <tr>
            <td>
                @Html.ActionLink("Select", "GeneratePDF", new { cohortId = item.CohortID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @(item.Stable ? "Yes" : "No")
            </td>
        </tr>
    }

</table>
<br /><br />

@if (Model.Employees != null)
{
    <h3>Employees In This Cohort</h3>
    <hr />
    <table class="table">
        <tr>
            <th></th>
            <th>
                Cohort Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>
                Phone Number
            </th>
            
            <th>
                Active
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Employees)
        {
            string selectedRow = "";
            if (item.EmployeeID == ViewBag.EmployeeID)
            {
                selectedRow = "success";
            }
            <tr>
                <td>
                    @Html.ActionLink("Select", "GeneratePDF", new { cohortId = item.CohortID, employeeId = item.EmployeeID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cohort.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MailingAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
            </tr>
        }

    </table>
    <br /><br />
}

@if (Model.Evaluations != null && Model.Employees != null)
{
    <h3>Employee's Completed Evaluations</h3>
    <hr />
    <table class="table">
        <tr>
            <th>Stage</th>
            <th>Type</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>

        @foreach (var item in Model.Evaluations)
        {
            string selectedRow = "";
            if (item.EmployeeID == ViewBag.EmployeeID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.EvalStage.StageName
                </td>
                <td>
                    @item.EvalType.TypeName
                </td>
                <td>
                    @item.StartDate
                </td>
                <td>
                    @item.EndDate
                </td>
                <td>
                    @Html.ActionLink("View Completed Evaluation", "ViewEmployeeCompletedEval", new { id = item.EvaluationID })
                </td>
                <td>
                    @Html.ActionLink("View Evaluation Results", "CreatePDFReport", new { id = item.EvaluationID, inBrowser = true })
                </td>
                <td>
                    @Html.ActionLink("Download Evaluation Results", "CreatePDFReport", new { id = item.EvaluationID, inBrowser = false })
                </td>
            </tr>
        }

    </table>
}
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Admin")
</div>
