﻿@{
    ViewBag.Title = "Admin";
}
<h1>Admin Dashboard</h1>
<hr />
<p class="lead">@Html.ActionLink("Manage Cohorts", "Index", "Cohort")</p>
<p class="lead">@Html.ActionLink("Change Maximum Required Raters", "ChangeMaximums", "MaxRater")</p>
<p class="lead">@Html.ActionLink("Edit Employees", "List", "Employee")</p>
<p class="lead">@Html.ActionLink("Load Employees", "LoadEmployees", "Cohort")</p>
<p class="lead">@Html.ActionLink("View Currently Pending Evaluations", "CurrentEvaluationStages", "Admin")</p>
<p class="lead">@Html.ActionLink("Generate PDF Report", "GeneratePDF", "Admin")</p>


