﻿@using EmployeeEvaluator.Models
@model EmployeeEvaluator.Models.StartEvaluationViewModel

@{
    ViewBag.Title = "View Evaluation";
}


@Html.HiddenFor(model => model.Evaluation.EvaluationID)
@Html.HiddenFor(model => model.Evaluation.CohortID)
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Evaluation</h4>
    <hr />
    @if (Model.Categories != null)
    {
        foreach (var category in Model.Categories)
        {

            <div class="form-group">
                @Html.DisplayFor(model => category.CategoryName):<br>
                @Html.DisplayFor(model => category.CategoryDescription)
                <br><br>
                @foreach (var question in category.Questions.Where(q => q.EvaluationID == Model.Evaluation.EvaluationID))
                {
                    @Html.DisplayFor(model => question.QuestionText)
                    <br>
                    <br>
                    <tr>
                        <th>Answer: </th>
                        <th>@question.SelectedAnswerValue</th>
                    </tr>
                    <br>
                    <br>
                    <br>
                }
            </div>
        }
    }

</div>
<div>
    @Html.ActionLink("Back to Evaluation Reports", "GeneratePDF", "Admin")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}