﻿@{
    ViewBag.Title = "Home Page";
    Session["AdminLoggedIn"] = false;
    Session["EmployeeLoggedIn"] = false;
}
<div class="jumbotron">
    <h1>Employee Evaluations</h1><br/><hr/><br/>
    <p class="lead">@Html.ActionLink("Administrator Login", "AdminLogin", "Home")</p>
    <p class="lead">@Html.ActionLink("Employee Login", "EmployeeLogin", "Home")</p>
</div>
