﻿@model EmployeeEvaluator.Models.Employee

<h2>Set Password</h2>
<br/>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EmployeeID)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.MailingAddress)
    @Html.HiddenFor(model => model.Phone)
    @Html.HiddenFor(model => model.CohortID)

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.Label("Password", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @{ Model.HashedPassword = "";}
                @Html.EditorFor(model => model.HashedPassword, new {htmlAttributes = new {@class = "form-control", type = "password"}})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Confirm Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" name="confirmedPassword" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default"/>
            </div>
        </div>
    </div>

    <p style="color: red; padding-left : 162px">@TempData["Error"]</p>
}

